<table class="preview5">
	<tr>
		<th><a href="">Центр «Королевский прием»</a></th>
		<th><a href="">Агентство Сергея Белоголовцева</a></th>
	</tr>
	<tr>
		<td><img src="" alt=""></td>
		<td><img src="" alt=""></td>
	</tr>
	<tr>
		<th><a href="">Аэродизайн - Наталья Рогачёва</a></th>
		<th><a href="">Агентство «Два паруса»</a></th>
	</tr>
	<tr>
		<td><img src="" alt=""></td>
		<td><img src="" alt=""></td>
	</tr>
	<tr>
		<th><a href="">«Бэст Фуд» - ресторан выездного обслуживания</a></th>
		<th><a href="">«Crazy Team» - креативные поздравления</a></th>
	</tr>
	<tr>
		<td><img src="" alt=""></td>
		<td><img src="" alt=""></td>
	</tr>
</table>